:root {
    --color1: #12151d;
    --color1-header: #11111199;
    --color2: #171b24;
    --color3: #00000050;
    --color4: #dbe4ff;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth
}

body {
    margin: 0;
    background-color: #12151d;
    color: var(--color4);
}

.emphasis {
    font-weight: bold;
    color: #6cc4bc;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a {
    text-decoration: none;
    color: var(--color4);
    position: relative;
    transition: 0.2s ease;
}
.nav-button-styling::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color4);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
}
.nav-button-styling:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.nav-button-styling:hover {
    transition: 0.2s ease;
}

header h1{
    margin-top: 0;
    margin-bottom: 0;
}

.inner-header {
    width: 900px;
    /* background-color: hotpink; */
    background-color: var(--color1-header);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    border: 1px solid #2b3144;
}


.nav-1 {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-2 button {
    background-color: #13201f50;
    border: 1px solid #6cc4bc;
    border-radius: 0.7rem;
    height: 3rem;
    width: 10rem;
    color: inherit;
    font: inherit;
    cursor: pointer;
    transition-duration: 0.2s;
}
.nav-2 button:hover {
    background-color: #6cc4bc;
    color: black;
    border: 2px solid #00000000;
}
.nav-2 h3 {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .inner-header {
        /* flex-direction: column; */
        /* padding-top: 0.3rem;
        padding-bottom: 0.3rem; */
        justify-content: center;
        padding-right: 1.5rem;
    }
    .inner-header h3 {
        /* margin-top: 0.3rem;
        margin-bottom: 0.3rem; */
    }
    .inner-header h1 {
        /* display: none; */
    }
    .nav {
        gap: 2rem
    }
    .nav-2 button {
        display: none;
    }
}

/* .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
} */

.cover {
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border-bottom: 2px solid #2b3144;
    background: radial-gradient(circle at 50% 100%, #192726, transparent 70%);
    min-height: 100vh;
}
/* .cover h3 {
    margin-top: 0;
} */

.inner-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.main-image {
    background-color: white;
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    border: 0.5rem solid #ffffff;
    background-image: url(./images/mug2.jpg);
    background-size: cover;
    background-position: center;
}

.projects {
    background-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    background: radial-gradient(circle at 10% 30%, #36220d, transparent 70%), 
                radial-gradient(circle at 90% 70%, #310d28, transparent 70%);
}

.inner-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 100vh;
    /* text-align: left; */
    gap: 1.5rem;
}

.projects-title {
    width: 100%;
}

.single-project {
    background-color: var(--color3);
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    border: 1px solid #91919150;
    border-radius: 0.5rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}

.inner-projects,
.single-project {
    box-sizing: border-box;
}

.single-project h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.single-project h2 {
    margin-bottom: 0;
    margin-top: 1rem;
}