* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body {
    /* background-color: #242527; */
    background-color: #1c1d1e;
    color: #a8b6c4;
}
#header {
    width: 100%;
    padding: 3vh 0;
    background-color: #1c1d1e;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#header-inner {
    padding: 0 3vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: #a8b6c4  ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

nav ul li a {
    color: #e0efff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover {
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    #header-inner {
        flex-direction: column;
    }
    nav ul li {
        margin-left: 0;
        margin: 3vh 3vh 1vh 3vh;
    }
}

#hero {
    /* background-color: #242527; */
    background-image: url(./images/bg-11.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-inner {
    width: 100vh;
    height: 100%;
    padding: 0 3vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero-inner h1 {
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
}

.links {
    /* background-color: hotpink; */
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.links a {
    width: 3vh;
    height: 3vh;
    margin: 2vh;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

#about {
    /* background-color: #242527; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-inner {
    width: 100vh;
    padding: 0 3vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#about-inner h1 {
    width: 100%;
    border-bottom: solid 1px #a8b6c4;
    margin-bottom: 15px;
    font-size: 50px;
    padding-bottom: 4vh;
}
#about-inner p {
    margin-bottom: 15px;
    font-size: 18px;
}

.text-emphasis {
    color: #ffffff;
    font-weight: 700;
}

